<?php
declare(strict_types=1);

use DI\ContainerBuilder;
use Monolog\Logger;

return function (ContainerBuilder $containerBuilder) {
    // Global Settings Object
    $containerBuilder->addDefinitions([
        'settings' => [
            'displayErrorDetails' => true, // Should be set to false in production
            'logger' => [
                'name' => 'API RUSH',
                'path' => isset($_ENV['docker']) ? 'php://stdout' : __DIR__ . '/../logs/app.log',
                'level' => Logger::DEBUG,
            ],
            'db' => [
                'type'  => 'mysql',
                'host'  => '',
                'name'  => '',
                'user'  => '',
                'pass'  => ''
            ],
            'authToken' => strrev(md5(sha1(session_id()))),
            'authEnabled' => false
        ],
    ]);
};
